body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
}

.container {
    width: 900px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #764ba2;
    padding-bottom: 20px;
}

.header-left h1 {
    margin: 0;
    font-size: 32px;
    color: #333;
}

.header-left p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

.header-right img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
    border: 4px solid #764ba2;
}

/* SECTIONS */
.section {
    margin-top: 30px;
}

.section h2 {
    color: #764ba2;
    margin-bottom: 15px;
    border-left: 6px solid #764ba2;
    padding-left: 10px;
}

/* SWITCH TITLE (Projects | Experience) */
.switch-title {
    color: #764ba2;
    border-left: 6px solid #764ba2;
    padding-left: 10px;
    font-size: 22px;
    margin-bottom: 20px;
}

.switch-title a {
    text-decoration: none;
    color: #764ba2;
    font-weight: bold;
    transition: 0.3s;
}

.switch-title a:hover {
    color: #667eea;
}

.switch-title .active {
    font-weight: bold;
}

/* CARDS */
.card {
    background: #f8f9ff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.card h3 {
    margin: 0;
}

.card span {
    font-size: 13px;
    color: #777;
}

.card ul {
    margin-top: 10px;
}

/* SKILLS */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background: #764ba2;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 13px;
}

.switch-title {
    color: #764ba2;
    border-left: 6px solid #764ba2;
    padding-left: 10px;
    font-size: 22px;
    margin-bottom: 20px;
}

.switch-title a {
    text-decoration: none;
    color: #764ba2;
    font-weight: bold;
    position: relative;
}

.switch-title a:hover {
    color: #667eea;
}

.click-note {
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}

.switch-title .active {
    font-weight: bold;
}